body {
    margin: 0 auto;
}

#negro {
    background-color: black;
}

#rojo {
    background-color: black;
}

#azul {
    background-color: black;
}

#amarillo {
    background-color: black;
}

#verde {
    background-color: black;
}

#rosa {
    background-color: black;
}